html{
  font-family: "Arial", sans-serif;  
  font-size: 1rem;
  color:black;
}

body {
    margin: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: bisque;
    text-align: center;
}
button {
  border: solid;
  background-color: greenyellow;
  padding: 14px 16px;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
}
