body {
    margin: 0;
    background: burlywood ;
    text-align: center;
}
button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
