body {
    margin: 10;
    background: burlywood ;
    text-align: center;
}
button {
  border: solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: greenyellow;
  padding: 14px 23px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
